.cart {
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 20px;

  max-width: 100%;
  align-items: center;
}
.test {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.increase {
  background-color: rgb(155, 100, 28);
  padding: 2px 3px;
  box-sizing: border-box;
}
.decrease {
  background-color: rgb(155, 100, 28);
  padding: 2px 3px;
  box-sizing: border-box;
}
.increase:hover {
  background-color: rgb(197, 125, 31);
}
.decrease:hover {
  background-color: rgb(197, 125, 31);
}
