.header {
  text-align: center;
  background-color: bisque;
  display: flex;
  justify-content: center;
}
.counter {
  text-align: center;
  font-size: 2.2rem;
  color: rgb(83, 11, 184);
}

.button {
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  margin-left: 10px;
}