nav {
  display: flex;
  justify-content: space-around;
  float: right;
  margin: 0;
}
li {
  list-style: none;
  padding: 10px 10px;
  color: white;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: forestgreen;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: sans-serif;
  margin-bottom: 20px;
}

button:hover,
button:active {
  background-color: rgb(56, 204, 56);
}
